################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Database
/BackEnd/FinancEasy/FinancEasy/obj/Debug/net8.0
/BackEnd/FinancEasy/FinancEasy/bin/Debug/net8.0/runtimes/win-x86/native
/BackEnd/FinancEasy/FinancEasy/bin/Debug/net8.0/runtimes/win-x64/native
/BackEnd/FinancEasy/FinancEasy/bin/Debug/net8.0/runtimes/win-arm64/native
/BackEnd/FinancEasy/FinancEasy/bin/Debug/net8.0/runtimes/win-arm/native
/BackEnd/FinancEasy/FinancEasy/bin/Debug/net8.0/runtimes/unix/lib/net6.0
/BackEnd/FinancEasy/FinancEasy/bin/Debug/net8.0/runtimes/win/lib/net6.0
/BackEnd/FinancEasy/FinancEasy/bin/Debug/net8.0
/BackEnd/FinancEasy/.vs/FinancEasy/FileContentIndex
