

.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Título do Dashboard */
h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
}

/* Layout do Dashboard com Flexbox */
.dashboard {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

/* Estilo dos cards */
.card {
    width: 28%;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}


/* Títulos dos cards */
.card h2 {
    color: #000000;
    margin-bottom: 10px;
    font-size: 1.4em;
}

/* Valores dos cards */
.card p {
    font-size: 1.8em;
    color: #000000;
    font-weight: bold;
}
.card:hover {
    transform: translateY(-10px);
    cursor: pointer;
    background-color: #3c20f5;
    color:  #ecf0f1;
}

.card:hover h2,
.card:hover p {
    color: #ffffff;  /* Alterar a cor do texto para branco quando hover */
}

/* Estilos para o gráfico */
#grafico {
    width: 100%;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
